html {
    scroll-behavior: smooth;
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
    background-image: url(img/backgr.jpeg);
    background-size: cover;
    background-position: center;
    /* margin-top: 50px; */
    /* overflow: hidden; */
    text-align: center;
}

canvas {
    background-color: rgb(0, 0, 0);
    z-index: 1;
}


.d-none {
    display: none;
}

h2 {
    background-color: #098810;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 150px;
    border: 4px solid white;
}

h2:hover {
    filter: brightness(1.5);
    filter: drop-shadow(0px 0px 5px white);
    scale: calc(1.1);
    cursor: pointer;
    background-color: #43c94a;
}

.charBox {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 16px;
    border-radius: 16px;
}

.character img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 0px solid black;
    border-radius: 25px;
    background-color: white;
}

.character {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.character:hover {
    filter: brightness(2.0);
    filter: drop-shadow(0px 0px 5px white);
}

span {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.faces {
    display: flex;

}

.startscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.button {
    margin: 0px 24px 0px 24px;
    padding: 12px;
    opacity: 0.8;;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;  
}

.button:hover {
    opacity: 1;
    cursor: pointer;
    padding: 20px 12px 20px 12px;
    margin-top: -16px;
}

.infoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    width: 800px;
    padding: 16px;
    border-radius: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 8px;
}

.c1 {
    background-color: rgb(28, 178, 247);
}
.c2 {
    background-color: rgb(253, 94, 94);
}
.c3 {
    background-color: rgb(239, 255, 8);
}
.c4 {
    background-color: rgb(73, 252, 103);
}

.logo {
    width: 80%;
    max-width: 1200px;
}